.App {
  text-align: center;
}

.TakeAttendanceFace {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: space-between;
  min-height: 480px;
}

.videoWrapper {
  display: flex;
  min-height: 480px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.attendeesListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  height: 32px;
  width: fit-content;
}
