.App {
  text-align: center;
  overflow-x: hidden;
}

.TakeAttendanceFace {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: space-between;
  min-height: 30rem;
}

.videoWrapper {
  display: flex;
  min-height: 30rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.attendeesListWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

button {
  height: 2rem;
  width: fit-content;
}

.MuiTypography-root {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MuiFormControl-root {
  height: fit-content;
  display: flex;
  align-items: center;
}
